 /* .swiper-slide {
     width: 500px !important;
     margin-right: 0px !important;
 } */


 .team-slides {
     margin-top: 40px;
 }

 .team-carousel-slide {
     text-align: center;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .team-slides img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }



 @media (max-width: 992px) {

     .team-carousel-slide {
         height: 300px !important;
     }

 }