.more-info {
    background-color: white;

}

.more-info-container-text {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.more-info-container-cards {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
}

.more-info-text {
    max-width: 800px;
    display: block;
}

.more-info-title {
    padding: 40px 40px 10px 40px;
    font-family: 'Playfair', serif;
    font-size: 2.5em;
    line-height: 110%;
}

.more-info-body {
    padding: 20px 40px 0px 40px;
}

.more-info-cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    background-color: white;

}

.more-info-card-container {
    width: 370px;
    height: 370px;
    margin: 10px;
}

.more-info-card {
    background-color: #68969c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info-card-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.more-info-card .back {
    color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* background-color: #415e62; */
}

.more-info-card-title {
    font-size: 1.1em;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: #0a384e
}

.more-info-card-text {
    font-size: 0.8em;
    text-align: left;
    padding: 15px;
}

.more-info-card-link {
    text-decoration: none;
    cursor: pointer;
    color: #a8b8be;
    text-align: end;
}

.more-info-card-link:hover {
    color: rgb(178, 255, 255);
}

/* 
@media (max-width: 1560px) {

    .more-info-card-container {
        width: 300px;
        height: 270px;
    }
} */
@media (max-width: 1560px) {

    .more-info-card-container {
        width: 270px;
        height: 270px;
    }
}


@media (max-width: 992px) {

    .more-info-card-container {
        width: 270px;
        height: 270px;
    }

    .more-info-title {
        font-size: 1.5em;
    }
}



@media (max-width: 768px) {

    .more-info-card-container {
        width: 95vw;
        height: 220px;
    }

    .more-info-card .back {
        width: 95vw;
    }

    .more-info-card-text {
        font-size: 0.8em;
        text-align: left;
    }

    .more-info-card-link {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}