.specific-service {
    padding: 130px 10px;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.service-icon img {
    height: 100px;
    width: auto;
    background-color: rgb(235, 213, 172);
    border-radius: 50%;
    padding: 20px;

}

.service-title {
    margin-left: 15px;
    font-size: 3em;
    font-weight: 600;
    color: #888;
}

@media (max-width:991px) {
    .service-header {
        padding: 20px;
    }

    .service-title {
        font-size: 2.4em;
        line-height: 110%;
        margin-left: 20px;
    }
}