.specific-service {
    padding: 130px 10px;
}

.service-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    text-align: right;
    background-color: rgb(235, 213, 172);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;

}

.service-icon img {
    height: 80px;
    width: auto;
    background-color: #ffffff53;
    border-radius: 50%;
    padding: 20px;
    margin-right: 50px;
}

.service-title {
    margin-left: 15px;
    margin-bottom: 0px !important;
    margin-right: 25px;
    font-size: 2.3em;
    font-weight: 600;
    color: #5a5959;
}

.specific-service-container {
    max-width: 1100px !important;
}

.service-subtitle {
    font-weight: 600;
}

.service-title p {
    margin-bottom: 0px !important;
}



/* .specific-service-images {
    padding: 20px;
} */


@media (max-width:991px) {

    .specific-service {
        padding: 0px;
    }

    .service-header {
        height: 100vh;
        display: block;
        padding-top: 300px;
        text-align: left;
    }

    .service-icon img {
        height: 140px;
        margin: 40px 40px 20px 40px;
        padding: 40px;
    }

    .service-title {
        font-size: 2.4em;
        line-height: 110%;
        text-align: left;
        margin: 0px 0px 0px 50px;
    }

    .specific-service-images {
        padding: 0px;
        margin: 0px;
        max-width: 350px;
    }
}