body {
  background-color: #465d7031
}

/* 

COLOR PALETTE

- Logo light: #2f80b7 
- Logo dark: #195672

>> Tema:
SkyBlue: #348ABF
Light blue: #639CBF
Dark blue: #1A5A73
  ++ Darker: #1A5A73
Cyan: #1A6373
Grey-white: #F2F2F2
  ++ Grey: #525759


>> Monocromáticos a logo dark
- Light blue: #308DB8
- Blue-grey: #3D6E85
- Grey: #364952
- Dark: #2C3133

>> Análogos a logo dark:
- Mint: #30B88A
- Green: #30B85B

>> Complementarios a logo dark
- Orange: #B87A30
- Brown: #63503B

*/