body {
  background-color: #c8c5c531
}

a {
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 0%;
}

.page-title {

  font-weight: 600;
  font-size: 3.8em;
  color: white;
  line-height: 100%;
  display: block !important;
  font-family: 'Playfair', serif;
  background-color: #1A5A73;
  padding: 130px 0px 40px 90px;
  border-radius: 0 0% 40% 80px;
  /* border-bottom-right-radius: 80px; */
  /* border-bottom-right-radius: 100px 100px; */
  /* margin-left: 80px; */
  /* margin-right: 50px; */
}

@media (max-width:768px) {
  .page-title {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    padding: 100px 0 40px 20px;
    border-radius: 0 0% 80px 0px;
  }
}

.accordion {
  --bs-accordion-bg: white;
  --bs-accordion-border-color: transparent;
  --bs-accordion-transition: color 0.30s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

}

.row {
  --bs-gutter-x: 0px !important;
}

/* 

COLOR PALETTE

- Logo light: #2f80b7 
- Logo dark: #195672

>> Tema:
SkyBlue: #348ABF
Light blue: #639CBF
Dark blue: #1A5A73
  ++ Darker: #1A5A73
Cyan: #1A6373
Grey-white: #F2F2F2
  ++ Grey: #525759


>> Monocromáticos a logo dark
- Light blue: #308DB8
- Blue-grey: #3D6E85
- Grey: #364952
- Dark: #2C3133

>> Análogos a logo dark:
- Mint: #30B88A
- Green: #30B85B

>> Complementarios a logo dark
- Orange: #B87A30 // rgb(235, 213, 172);
- Brown: #63503B


        --bs-breakpoint-xs: 0;
        --bs-breakpoint-sm: 576px;
        --bs-breakpoint-md: 768px;
        --bs-breakpoint-lg: 992px;
        --bs-breakpoint-xl: 1200px;
        --bs-breakpoint-xxl: 1400px;
*/