 .contact-banner-form-row {
     --bs-gutter-x: 0% !important;
     display: flex;
     align-items: center;
 }

 .contact-moreinfo-row {
     --bs-gutter-x: 0% !important;
     align-items: center;
 }

 .contact-form-component {
     padding-top: 80px;
 }